body{

    background: url(images/2148933766.jpg);
    background-position: bottom;
    background-attachment: fixed;
    font-family: "comfortaa", sans-serif;
    color: white;
}

.searchBar
{
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.searchBarParentDiv
{
    width: 50%;
    height: fit-content;
    position: relative;

}

.inputfield{

    width: 100%;
    border-radius: 25px;
    padding: 10px;
}

.searchIcon{
    position: absolute;
    right: 10px;
    top: 5px;
}

.searchIcon:hover{

    cursor: pointer;
}

.mainContentParentDiv{

    height: 90vh;

}
.leftDiv{

    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
 
}

.rightDiv{

    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.leftChild{

    background: rgba(212, 212, 212, 0.4);
    width: 85%;
    height: 40vh;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(15px);



}

.currentTempDiv h6{

    font-size: larger;

}

#cityName{

    font-size: xx-large;
}

#cityTemp{

    font-size: x-large;

}

#comingFiveDaysTitle{

    font-size: x-large;
}

.rightrow{

    height: 27vh;
    width: 100%;
    
}

.extrametric

{

    background: rgba(212, 212, 212, 0.4);
    width: fit-content;
    border-radius: 15px;
    padding: 5% 2%;
    align-items: center;

}

.rowtwodiv{

    background: rgba(212, 212, 212, 0.4);
    width: 45%;
    height: 85%;
    backdrop-filter: blur(15px);
    border-radius: 15px;

}


.todaytemp{

    background: rgba(212, 212, 212, 0.4);
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}